
[Unit]
Description=Happy service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/home/ubuntu/kubernetes-starterkit/happy
ExecStart=/usr/bin/env bash /home/ubuntu/kubernetes-starterkit/happy/happy.sh

[Install]
WantedBy=multi-user.target
